# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# User Defined
misc.xml
modules.xml
other.xml
profiles_settings.xml
vcs.xml
HBS_Assignment.iml
